In [1]:
import pandas as pd
import numpy as np

In [2]:
values = pd.Series(['apple', 'orange', 'apple','apple'] * 2)
values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

许多数据系统（数据仓库、统计计算或其它应用）都发展出了特定的表征重复值的方法，以进行高效的存储和计算。在数据仓库中，最好的方法是使用所谓的包含不同值的维表(Dimension Table)，将主要的参数存储为引用维表整数键：

In [3]:
values = pd.Series([0, 1, 0, 0] * 2)
dim = pd.Series(['apple', 'orange'])
values

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64

In [4]:
dim

0     apple
1    orange
dtype: object

In [5]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

这种用整数表示的方法称为分类或字典编码表示法。不同值得数组称为分类、字典或数据级。本书中，我们使用分类的说法。表示分类的整数值称为分类编码或简单地称为编码。

分类表示可以在进行分析时大大的提高性能。你也可以在保持编码不变的情况下，对分类进行转换。一些相对简单的转变例子包括：

重命名分类。

加入一个新的分类，不改变已经存在的分类的顺序或位置。

## pandas的分类类型
pandas有一个特殊的分类类型，用于保存使用整数分类表示法的数据。看一个之前的Series例子：

In [6]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2
N = len(fruits)

In [7]:
df = pd.DataFrame({'fruit': fruits,'basket_id': np.arange(N),'count': np.random.randint(3, 15, size=N),'weight': np.random.uniform(0, 4, size=N)},columns=['basket_id', 'fruit', 'count', 'weight'])

In [8]:
df

   basket_id   fruit  count    weight
0          0   apple      9  0.076818
1          1  orange      3  2.355664
2          2   apple     14  1.732518
3          3   apple     10  0.477121
4          4   apple      3  3.326891
5          5  orange     11  1.194548
6          6   apple      6  2.443253
7          7   apple     13  0.480754

这里，df['fruit']是一个Python字符串对象的数组。我们可以通过调用它，将它转变为分类：

In [9]:
fruit_cat = df['fruit'].astype('category')
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

fruit_cat的值不是NumPy数组，而是一个pandas.Categorical实例：

In [10]:
c = fruit_cat.values
type(c)

pandas.core.arrays.categorical.Categorical

In [11]:
c.categories

Index(['apple', 'orange'], dtype='object')

你可将DataFrame的列通过分配转换结果，转换为分类：

In [12]:
df['fruit'] = df['fruit'].astype('category')
df.fruit

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

你还可以从其它Python序列直接创建pandas.Categorical：

In [13]:
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])
my_categories

[foo, bar, baz, foo, bar]
Categories (3, object): [bar, baz, foo]

如果你已经从其它源获得了分类编码，你还可以使用from_codes构造器：

In [14]:
categories = ['foo', 'bar', 'baz']
codes = [0, 1, 2, 0, 0, 1]
my_cats_2 = pd.Categorical.from_codes(codes, categories)
my_cats_2

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo, bar, baz]

与显示指定不同，分类变换不认定指定的分类顺序。因此取决于输入数据的顺序，categories数组的顺序会不同。当使用from_codes或其它的构造器时，你可以指定分类一个有意义的顺序：

In [15]:
ordered_cat = pd.Categorical.from_codes(codes, categories,ordered=True)

In [16]:
ordered_cat

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo < bar < baz]

输出[foo < bar < baz]指明‘foo’位于‘bar’的前面，以此类推。无序的分类实例可以通过as_ordered排序：

In [17]:
my_cats_2.as_ordered()

[foo, bar, baz, foo, foo, bar]
Categories (3, object): [foo < bar < baz]

最后要注意，分类数据不需要字符串，尽管我仅仅展示了字符串的例子。分类数组可以包括任意不可变类型。

## 用分类进行计算
与非编码版本（比如字符串数组）相比，使用pandas的Categorical有些类似。某些pandas组件，比如groupby函数，更适合进行分类。还有一些函数可以使用有序标志位。

来看一些随机的数值数据，使用pandas.qcut面元函数。它会返回pandas.Categorical，我们之前使用过pandas.cut，但没解释分类是如何工作的：

In [18]:
np.random.seed(12345)
draws = np.random.randn(1000)
draws

array([-2.04707659e-01,  4.78943338e-01, -5.19438715e-01, -5.55730304e-01,
        1.96578057e+00,  1.39340583e+00,  9.29078767e-02,  2.81746153e-01,
        7.69022568e-01,  1.24643474e+00,  1.00718936e+00, -1.29622111e+00,
        2.74991633e-01,  2.28912879e-01,  1.35291684e+00,  8.86429341e-01,
       -2.00163731e+00, -3.71842537e-01,  1.66902531e+00, -4.38569736e-01,
       -5.39741446e-01,  4.76985010e-01,  3.24894392e+00, -1.02122752e+00,
       -5.77087303e-01,  1.24121276e-01,  3.02613562e-01,  5.23772068e-01,
        9.40277775e-04,  1.34380979e+00, -7.13543985e-01, -8.31153539e-01,
       -2.37023165e+00, -1.86076079e+00, -8.60757398e-01,  5.60145293e-01,
       -1.26593449e+00,  1.19827125e-01, -1.06351245e+00,  3.32882716e-01,
       -2.35941881e+00, -1.99542955e-01, -1.54199553e+00, -9.70735912e-01,
       -1.30703025e+00,  2.86349747e-01,  3.77984111e-01, -7.53886535e-01,
        3.31285650e-01,  1.34974221e+00,  6.98766888e-02,  2.46674110e-01,
       -1.18616011e-02,  1.00481159e+00,  1.32719461e+00, -9.19261558e-01,
       -1.54910644e+00,  2.21845987e-02,  7.58363145e-01, -6.60524328e-01,
        8.62580083e-01, -1.00319021e-02,  5.00093559e-02,  6.70215594e-01,
        8.52965032e-01, -9.55868852e-01, -2.34933207e-02, -2.30423388e+00,
       -6.52468841e-01, -1.21830198e+00, -1.33260971e+00,  1.07462269e+00,
        7.23641505e-01,  6.90001853e-01,  1.00154344e+00, -5.03087391e-01,
       -6.22274225e-01, -9.21168608e-01, -7.26213493e-01,  2.22895546e-01,
        5.13161009e-02, -1.15771947e+00,  8.16706936e-01,  4.33609606e-01,
        1.01073695e+00,  1.82487521e+00, -9.97518248e-01,  8.50591099e-01,
       -1.31577601e-01,  9.12414152e-01,  1.88210680e-01,  2.16946144e+00,
       -1.14928205e-01,  2.00369736e+00,  2.96101523e-02,  7.95253156e-01,
        1.18109754e-01, -7.48531548e-01,  5.84969738e-01,  1.52676573e-01,
       -1.56565729e+00, -5.62540188e-01, -3.26641392e-02, -9.29006202e-01,
       -4.82572646e-01, -3.62638461e-02,  1.09539006e+00,  9.80928477e-01,
       -5.89487686e-01,  1.58170009e+00, -5.28734826e-01,  4.57001871e-01,
        9.29968759e-01, -1.56927061e+00, -1.02248698e+00, -4.02826924e-01,
        2.20486863e-01, -1.93401108e-01,  6.69158336e-01, -1.64898482e+00,
       -2.25279725e+00, -1.16683222e+00,  3.53607102e-01,  7.02110171e-01,
       -2.74569205e-01, -1.39142188e-01,  1.07657222e-01, -6.06545125e-01,
       -4.17064408e-01, -1.70070368e-02, -1.22414528e+00, -1.80083991e+00,
        1.63473620e+00,  9.89008302e-01,  4.57940143e-01,  5.55154410e-01,
        1.30671972e+00, -4.40553570e-01, -3.01350280e-01,  4.98791490e-01,
       -8.23991040e-01,  1.32056584e+00,  5.07964786e-01, -6.53437675e-01,
        1.86979514e-01, -3.91725249e-01, -2.72292975e-01, -1.71414356e-02,
        6.80320749e-01,  6.35512357e-01, -7.57176502e-01,  7.18085834e-01,
       -3.04273076e-01, -1.67779025e+00,  4.26986085e-01, -1.56373985e+00,
       -3.67487521e-01,  1.04591253e+00,  1.21995436e+00, -2.47699116e-01,
       -4.16232132e-01, -1.16747004e-01, -1.84478762e+00,  2.06870785e+00,
       -7.76967474e-01,  1.44016687e+00, -1.10557360e-01,  1.22738699e+00,
        1.92078426e+00,  7.46433038e-01,  2.22465959e+00, -6.79400410e-01,
        7.27368782e-01, -8.68730734e-01, -1.21385091e+00, -4.70630931e-01,
       -9.19241697e-01, -8.38826689e-01,  4.35155305e-01, -5.57804717e-01,
       -5.67454871e-01, -3.72641553e-01, -9.26556901e-01,  1.75510839e+00,
        1.20980999e+00,  1.27002473e+00, -9.74378127e-01, -6.34709255e-01,
       -3.95700752e-01, -2.89435900e-01, -7.34297072e-01, -7.28504679e-01,
        8.38775073e-01,  2.66893213e-01,  7.21194339e-01,  9.10982642e-01,
       -1.02090261e+00, -1.41341604e+00,  1.29660784e+00,  2.52275209e-01,
        1.12748110e+00, -5.68363447e-01,  3.09362168e-01, -5.77385473e-01,
       -1.16863407e+00, -8.25019972e-01, -2.64440949e+00, -1.52985803e-01,
       -7.51921003e-01, -1.32609252e-01,  1.45729970e+00,  6.09511845e-01,
       -4.93779257e-01,  1.23997988e+00, -1.35722140e-01,  1.43004181e+00,
       -8.46852451e-01,  6.03282130e-01,  1.26357226e+00, -2.55490556e-01,
       -4.45688380e-01,  4.68366681e-01, -9.61603924e-01, -1.82450454e+00,
        6.25428156e-01,  1.02287238e+00,  1.10742460e+00,  9.09370895e-02,
       -3.50108657e-01,  2.17957016e-01, -8.94813130e-01, -1.74149395e+00,
       -1.05225574e+00,  1.43660279e+00, -5.76207386e-01, -2.42029443e+00,
       -1.06232963e+00,  2.37372262e-01,  9.57369064e-04,  6.52531808e-02,
       -1.36752411e+00, -3.02800519e-02,  9.40489321e-01, -6.42436751e-01,
        1.04017925e+00, -1.08292226e+00,  4.29213588e-01, -2.36223669e-01,
        6.41817816e-01, -3.31660557e-01,  1.39407223e+00, -1.07674194e+00,
       -1.92465982e-01, -8.71187651e-01,  4.20851997e-01, -1.21141107e+00,
       -2.58866912e-01, -5.81646850e-01, -1.26042063e+00,  4.64574793e-01,
       -1.07024091e+00,  8.04222698e-01, -1.56735508e-01,  2.01039001e+00,
       -8.87104430e-01, -9.77936232e-01, -2.67217350e-01,  4.83337822e-01,
       -4.00332733e-01,  4.49880415e-01,  3.99593953e-01, -1.51574804e-01,
       -2.55793406e+00,  1.60806841e-01,  7.65250677e-02, -2.97204166e-01,
       -1.29427402e+00, -8.85180013e-01, -1.87496526e-01, -4.93560000e-01,
       -1.15412964e-01, -3.50744607e-01,  4.46973764e-02, -8.97756316e-01,
        8.90873502e-01, -1.15118516e+00, -2.61230270e+00,  1.14125019e+00,
       -8.67135525e-01,  3.83583258e-01, -4.37030164e-01,  3.47488810e-01,
       -1.23017904e+00,  5.71078139e-01,  6.00612128e-02, -2.25523994e-01,
        1.34972614e+00,  1.35029973e+00, -3.86653322e-01,  8.65989542e-01,
        1.74723360e+00, -1.41024614e+00, -3.78241525e-01, -3.45820667e-01,
        3.80062465e-01,  1.88994673e-01,  1.32329820e+00, -2.26458859e+00,
       -9.14978611e-01, -4.78964164e-01,  1.04718450e+00,  9.23948418e-01,
       -1.14150141e-01,  4.05802443e-01,  2.88451808e-01, -4.34788492e-01,
        3.58755633e-01, -3.88244944e-01,  2.12874629e+00,  1.40960468e+00,
       -1.05434278e-01,  7.00428367e-01,  2.09285188e+00, -1.36971796e-01,
       -9.30489423e-01,  3.27497234e-01,  1.30301308e+00, -1.40940236e+00,
       -1.44125945e-01, -7.16414024e-01,  1.03614186e-01, -1.49571856e+00,
       -1.17489356e+00,  2.61399909e+00, -6.89307399e-01, -7.51652636e-01,
        6.36280961e-01, -1.15764416e+00,  6.14679924e-01,  1.02139111e+00,
        6.68272492e-01, -8.09535482e-01, -9.08124573e-01,  1.51228939e+00,
        9.51174320e-02,  1.18466855e+00,  6.37032934e-01, -5.39274587e-01,
       -5.51009929e-02, -1.13592579e+00, -1.70506254e-01, -1.15808727e+00,
        1.10459914e+00,  6.34238100e-01,  1.25968335e+00,  9.64930776e-01,
       -4.34445938e-01, -8.79602860e-01, -6.94838230e-01,  1.22637405e+00,
        4.57278649e-01,  1.15698625e-01,  1.01404235e+00, -1.13500772e+00,
       -2.63370582e-01,  1.30642518e+00, -1.61084101e+00, -1.02662069e+00,
        1.24157279e+00, -1.56759532e-01, -2.44909553e+00, -1.03394802e+00,
        1.59953363e+00,  4.74070770e-01,  1.51325927e-01, -5.42173166e-01,
       -4.75496217e-01,  1.06402612e-01, -1.30822819e+00,  2.17318475e+00,
        5.64561217e-01, -1.90480765e-01, -9.16934390e-01, -9.75813606e-01,
        2.21230269e+00,  7.39306826e-02,  1.81859456e+00, -1.58153100e+00,
       -7.74363409e-01,  5.52936493e-01,  1.06061390e-01,  3.92752804e+00,
       -2.55125599e-01,  8.54137315e-01, -3.64806532e-01,  1.31101737e-01,
       -6.97613896e-01,  1.33564946e+00, -1.51038858e-01,  4.42937851e-01,
        9.41571221e-01,  5.33363953e-01,  3.56266193e-01, -1.01153190e-02,
        1.41575317e+00,  5.66105533e-01,  4.56487352e-01,  1.94788105e-01,
       -6.55053757e-01, -5.65230094e-01,  3.17687312e+00,  9.59532542e-01,
       -9.75339835e-01, -1.11674210e+00, -1.10437634e+00, -8.98755175e-01,
       -1.36663236e+00,  4.51401732e-01, -1.58722181e+00, -7.32788830e-01,
       -5.14562627e-01, -6.11876053e-01, -3.15986670e-02,  2.34127888e-01,
        2.71936281e-01,  1.23076935e+00,  1.28830616e+00,  8.51813508e-01,
       -1.52918061e+00, -1.55171499e+00,  2.97292917e-01,  3.44791201e-01,
       -3.98103360e-01,  4.29404057e-01, -2.85944649e-01, -2.22843700e+00,
        6.65587850e-02,  4.89964761e-01,  1.86792585e+00,  2.07043780e+00,
       -2.45383227e-01,  7.62302108e-01,  1.29015475e-01,  6.27075914e-01,
       -1.06223474e+00, -1.49950345e+00,  5.45154193e-01,  4.00823267e-01,
       -1.94623039e+00,  5.05031784e-01, -9.10489138e-01, -2.19696285e-01,
        4.08055383e-01, -6.03145411e-01, -3.61132594e-01,  5.64024524e-01,
       -1.05661656e+00,  1.39195005e+00, -1.76126767e+00, -9.11633128e-01,
        6.58339264e-01, -1.57946584e+00,  4.57705976e-01, -1.83268092e-01,
       -6.85483896e-01,  1.06431315e-01, -3.18236084e-01,  4.33712973e-01,
        5.71825929e-01,  5.67106029e-01,  8.15769654e-02, -3.02334871e-01,
       -7.26916388e-01,  1.80335113e-01, -5.20208734e-01,  3.98092081e-01,
       -9.16935074e-01, -8.26501345e-02, -1.93969081e+00,  1.40799436e+00,
        1.51240649e+00,  5.26493120e-01, -2.66930833e-01,  8.62284048e-01,
        8.38030660e-02, -1.87233890e+00, -9.62791017e-01,  8.00668292e-02,
        1.28726442e-01, -4.79120340e-01, -6.40280504e-01,  7.45973801e-01,
       -6.22547063e-01,  9.36289315e-01,  7.50018377e-01, -5.67150282e-02,
        2.30067451e+00,  5.69497467e-01,  1.48940968e+00,  1.26425028e+00,
       -7.61837213e-01, -3.31616898e-01, -1.75131543e+00,  6.28894111e-01,
        2.82501864e-01, -1.33813943e+00, -5.00606850e-01,  1.21645030e-01,
        1.70832347e+00, -9.70999448e-01, -6.19332343e-01, -7.26708132e-01,
        1.22165542e+00,  5.03699288e-01, -1.38787408e+00,  2.04851420e-01,
        6.03705216e-01,  5.45680309e-01,  2.35477019e-01,  1.11834994e-01,
       -1.25150375e+00, -2.94934350e+00,  6.34634161e-01,  1.24157016e-01,
        1.29762249e+00, -1.68693341e+00,  1.08953905e+00,  2.06088174e+00,
       -2.41235326e-01, -9.47872180e-01,  6.76294029e-01, -6.53356162e-01,
       -6.52295298e-01,  5.28827604e-01,  3.57793249e-01,  1.88649360e-01,
        8.69416879e-01, -5.06674481e-02, -7.16364575e-01, -1.03258721e-01,
       -1.14103658e+00, -5.00776901e-01, -3.89301370e-01, -4.73850530e-01,
        1.28664304e-01,  1.53694305e-01,  4.44790058e-01,  1.28531667e-01,
        2.52529866e-01, -9.40638663e-01,  1.00214545e+00, -5.25414984e-01,
       -8.87400936e-01,  1.83131360e+00, -9.23029332e-01,  7.00537687e-01,
       -8.92151198e-01,  2.30074000e+00, -8.17765299e-01,  5.13759632e-01,
        6.23586943e-01,  1.48920593e+00,  1.94047867e+00,  5.43237129e-01,
        5.06190912e-01,  1.66201449e+00, -1.18920250e+00,  9.35974490e-02,
       -5.39163905e-01, -1.43739560e+00,  1.87937386e-01, -4.50454457e-01,
       -5.16878232e-01, -9.56356677e-02,  3.16423805e-01,  6.03334657e-01,
       -1.49459146e+00, -1.10894079e-01,  2.41289404e-01, -5.82645109e-01,
       -2.41112652e-01,  2.36360537e-01,  1.24720725e-01,  1.04632598e+00,
       -2.73091856e-01, -5.34834020e-01, -3.06563305e-01, -1.62242665e-01,
       -1.08323220e+00,  7.08401493e-01,  1.52074304e+00,  2.90343183e-01,
       -6.83066330e-01, -9.50312866e-01,  4.00709936e-01, -1.26071684e-01,
        3.98204888e-01,  1.41638473e-01, -2.64141422e-01, -4.52212074e-01,
        7.58201973e-01, -5.15583498e-01, -5.91202322e-01,  8.96745784e-01,
       -9.71437524e-01,  1.84080991e+00,  1.53881232e-01, -2.74083943e-01,
       -1.78492569e+00,  9.81006686e-01, -8.73717140e-01, -1.01563442e+00,
       -4.11243537e-01,  1.46562117e+00, -1.00621906e+00, -9.02147762e-01,
        7.52769143e-01, -4.90508527e-01, -5.24672210e-01, -6.99195861e-01,
        3.52360939e-01,  6.81025983e-02, -9.30341707e-01,  8.45399560e-01,
        1.64723816e-02,  8.44962955e-01,  1.85083395e+00,  2.20742409e-02,
       -1.36917902e+00,  8.87203523e-01,  1.43311821e-02, -7.41547051e-02,
       -4.85647878e-02,  1.23502145e+00, -4.33294924e-01,  1.39103546e+00,
        8.20210741e-01, -2.47423465e-01,  3.02270746e-01,  5.43980361e-01,
       -9.42368504e-01, -1.26638281e+00,  9.37249545e-01, -7.20102245e-01,
       -1.59395154e+00, -3.75497816e-01, -9.58703834e-01,  7.94336400e-01,
       -1.60510784e+00,  5.43710253e-01,  9.25166364e-01, -1.46962860e+00,
       -3.99592346e-01,  1.41734264e+00, -8.97608668e-01,  1.84480502e+00,
        1.25316821e+00, -1.49093242e+00, -2.77339246e-02,  1.37523596e+00,
       -2.52081701e-02, -6.67880179e-01, -2.86801753e+00,  2.10688543e-01,
        1.28715531e+00, -5.74305988e-01,  4.95326647e-01,  3.96049590e-01,
        5.88798190e-01, -1.28175713e+00,  2.02992261e+00, -5.01944516e-01,
       -1.59284566e-01, -1.49621630e+00,  1.14477139e-02,  4.19445985e-01,
        2.05121388e+00, -3.68765333e-01, -1.68925468e+00,  1.47681161e-01,
       -1.80998392e-01,  1.58059054e-01, -3.96615422e-01, -4.00236630e-01,
       -8.24895666e-01, -2.44440446e-01,  1.21945743e+00, -4.33630492e-01,
        8.61183873e-01, -3.34503693e-01,  1.59559959e-01, -9.84164476e-01,
        7.54084974e-01, -2.84391662e-01,  3.24797530e-01, -8.85424602e-01,
       -1.28089348e+00,  1.96109935e-01,  9.54644156e-01, -8.00971332e-01,
        1.58514730e-02,  1.08755329e+00, -6.31242820e-01, -2.26893249e-02,
        6.85879242e-01,  5.19179208e-01,  1.82701892e-01,  2.04647381e-01,
       -2.65986356e-01, -2.27288704e-04,  1.23945232e+00, -8.19715256e-01,
       -2.60388907e-01,  5.19140257e-01,  1.43091645e-01, -1.16677747e-01,
        1.49674411e+00, -1.48427438e+00, -1.67118276e+00,  9.17173409e-01,
       -7.58014151e-01,  2.06479240e+00, -8.50778396e-01,  4.99450713e-01,
       -7.92663655e-02, -1.40329264e+00,  1.57894791e+00,  3.69028988e-04,
        9.00884914e-01, -4.54869220e-01, -8.64546645e-01,  1.12911990e+00,
        5.78744129e-02, -4.33738666e-01,  9.26976374e-02, -1.39782015e+00,
        1.45782265e+00, -1.76756916e-01, -2.54240300e-01, -1.26343750e+00,
        4.52262741e-01, -8.40117409e-01, -5.02678071e-01,  5.13392587e-01,
        1.64165300e+00,  5.80790036e-01, -1.70734027e+00, -1.78355431e-01,
       -8.28459954e-01,  1.28631168e+00, -4.06452362e-01,  1.56632047e-01,
        5.21066804e-02,  9.55813177e-01,  7.43191501e-01, -4.86323084e-01,
        1.92046727e+00, -6.52749023e-01, -1.73303777e-01, -3.60410082e-01,
       -3.80413977e-01, -1.29813981e+00,  5.27919008e-01, -9.31002763e-02,
        4.01184681e-01, -1.02583380e-01,  3.08690977e-02,  2.61610051e+00,
       -7.85577945e-01, -5.06998121e-01, -2.01820572e+00, -6.76853138e-01,
        2.66674368e+00,  1.45145615e+00,  6.34628855e-01, -5.02826864e-01,
        5.12931659e-01,  1.75677937e+00, -9.74310801e-01,  6.80397048e-01,
        9.55798726e-01,  1.50153548e+00, -7.56265648e-01,  4.73504604e-01,
        1.71374345e+00, -1.14769922e+00,  2.90322050e-03, -1.10057036e+00,
       -2.97531782e-01,  5.02409078e-01, -9.87418981e-04, -6.74560278e-01,
        2.97958279e-01,  1.46557314e+00, -3.03628594e-01, -9.94479885e-01,
        1.89889991e-01, -1.68402957e+00, -4.58380742e-01,  5.43405908e-01,
       -1.18726426e+00, -4.12641693e-01,  1.17712535e+00, -3.13704165e-01,
        1.57903162e+00,  3.75388236e-01, -1.56813882e+00, -9.00886519e-01,
        6.52345519e-01,  8.71600314e-01,  2.68216170e-01,  9.47681220e-01,
        1.47267588e-01, -1.77245546e+00,  5.92419611e-01,  9.03254745e-02,
        6.51121454e-01, -8.11946962e-02,  8.01897603e-01,  1.39845227e-01,
       -5.01002762e-01, -1.28302559e-01,  4.14605966e-01,  6.04577786e-01,
        2.13409475e+00,  9.41187837e-01, -9.31456796e-01, -1.24667539e-01,
        2.00696291e-01,  1.80256286e-01, -3.20370097e-01, -1.59612803e+00,
       -1.28169898e+00,  1.50258575e+00,  6.53538002e-01, -3.19536626e-01,
        9.55094011e-01,  2.61995955e-01,  1.60792901e-01, -5.71680642e-01,
        3.51660059e-01,  1.11498006e+00,  1.18326826e+00,  1.06094106e+00,
        5.10712630e-01, -9.38783998e-01, -5.46496141e-01,  5.90029971e-01,
        1.48218524e+00,  1.02118104e-01,  2.65438049e-01,  3.19307433e-03,
       -2.59501150e+00, -1.55556933e+00,  1.10299596e+00,  5.54736504e-01,
       -1.28901164e+00,  3.85241648e-01, -1.71729173e+00, -1.01835313e+00,
        5.16353173e-02,  5.03298710e-01, -5.43186231e-01, -5.06678417e-01,
        7.29652833e-01,  4.34273363e-01, -1.13367361e+00,  1.42395334e+00,
        2.66351537e-01, -8.54264393e-01, -5.50596561e-01, -6.19109859e-01,
        1.03893339e+00, -9.10610825e-01,  5.29952567e-01, -8.47143615e-03,
       -1.12903825e+00,  5.69854191e-01, -8.63391622e-01, -1.35614427e+00,
       -5.71515569e-02, -1.08621122e-01,  1.65238409e+00, -1.35092808e+00,
       -5.46096737e-01,  9.91400184e-01,  2.20099739e+00,  4.27899791e-01,
        2.90468283e-01,  6.11953096e-01, -5.12450984e-01, -7.24230691e-01,
        1.69288190e+00, -2.99339120e-01,  1.57172719e+00,  4.61444067e-01,
       -6.73829701e-01, -1.14103626e+00, -1.22891798e+00, -1.15928246e+00,
       -3.20829018e-01,  1.08834758e+00, -9.06203145e-01, -4.64152062e-01,
       -5.13378373e-01,  1.61783768e+00, -8.16650606e-01,  2.44719605e-01,
       -1.31109423e+00,  3.88406495e-01,  1.59237371e+00,  8.70399037e-01,
        3.35249325e-01,  6.48959907e-01, -1.83151791e-01,  5.00241270e-01,
        1.36882639e+00,  8.95091842e-01,  6.47293372e-01, -5.67878708e-01,
       -5.79517447e-01, -7.51448573e-01,  1.07551918e+00, -6.21142360e-01,
        1.87855572e+00,  1.26023993e+00,  3.10050973e-01,  1.06402292e-01,
        2.48012997e-01, -1.39383959e+00, -6.69436307e-01, -5.66791474e-01,
       -3.81778903e-01, -9.46546907e-01, -1.06510300e+00, -1.33182618e+00,
       -9.86453191e-01, -3.78391147e-01,  7.64711975e-01,  6.03594165e-02,
        6.18509999e-01, -4.84921020e-01, -2.80530240e-01,  4.06962904e-01,
        1.02518779e+00,  2.54751681e-01,  8.75239905e-02,  7.06983543e-02,
       -5.73152603e-01,  1.22892597e+00, -9.62201893e-01,  1.52555676e+00,
        8.27282589e-01,  9.12470470e-01, -1.27292343e-01,  6.34316641e-01,
       -1.53089843e+00, -1.29070149e+00, -5.26228341e-01, -1.13223396e+00,
       -4.99797127e-01, -7.28463087e-01, -5.83144170e-01,  3.29290657e-01,
       -8.26860798e-01, -5.36867983e-01, -5.62980134e-01,  9.18404800e-01,
       -7.93993782e-02, -2.78624683e-01, -1.30459539e-01, -1.39699761e+00,
       -2.44713889e-01,  8.30253911e-01,  2.40821202e-01, -9.15697123e-01,
       -2.22527996e+00, -6.63067012e-01, -3.21194764e-01,  4.98388165e-01,
        3.80338976e-01, -1.06703532e+00,  2.55452172e-01,  2.11128719e+00,
       -6.34189962e-01,  1.36875577e+00, -9.70649489e-01,  6.54245334e-01,
       -1.17189522e+00, -3.15987198e-03, -7.45604825e-01,  1.59829089e+00,
       -9.13399998e-01,  2.40291209e+00, -5.89360262e-01,  1.07657442e-01,
       -1.39297516e-01, -1.15992573e+00,  6.18964782e-01,  1.37389047e+00])

In [19]:
bins = pd.qcut(draws, 4)

In [21]:
bins

[(-0.684, -0.0101], (-0.0101, 0.63], (-0.684, -0.0101], (-0.684, -0.0101], (0.63, 3.928], ..., (-0.0101, 0.63], (-0.684, -0.0101], (-2.9499999999999997, -0.684], (-0.0101, 0.63], (0.63, 3.928]]
Length: 1000
Categories (4, interval[float64]): [(-2.9499999999999997, -0.684] < (-0.684, -0.0101] < (-0.0101, 0.63] < (0.63, 3.928]]

虽然有用，确切的样本分位数与分位的名称相比，不利于生成汇总。我们可以使用labels参数qcut，实现目的：

In [22]:
bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
bins

[Q2, Q3, Q2, Q2, Q4, ..., Q3, Q2, Q1, Q3, Q4]
Length: 1000
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

加上标签的面元分类不包含数据面元边界的信息，因此可以使用groupby提取一些汇总信息：

In [23]:
bins = pd.Series(bins, name='quartile')

In [24]:
results = (pd.Series(draws).groupby(bins).agg(['count', 'min', 'max']).reset_index())
results

  quartile  count       min       max
0       Q1    250 -2.949343 -0.685484
1       Q2    250 -0.683066 -0.010115
2       Q3    250 -0.010032  0.628894
3       Q4    250  0.634238  3.927528

分位数列保存了原始的面元分类信息，包括排序：

In [25]:
results['quartile']

0    Q1
1    Q2
2    Q3
3    Q4
Name: quartile, dtype: category
Categories (4, object): [Q1 < Q2 < Q3 < Q4]

## 用分类提高性能
如果你是在一个特定数据集上做大量分析，将其转换为分类可以极大地提高效率。DataFrame列的分类使用的内存通常少的多。来看一些包含一千万元素的Series，和一些不同的分类：

In [26]:
N = 10000000
draws = pd.Series(np.random.randn(N))
labels = pd.Series(['foo', 'bar', 'baz', 'qux'] * (N // 4))

现在，将标签转换为分类：

In [27]:
categories = labels.astype('category')

这时，可以看到标签使用的内存远比分类多：

In [28]:
labels.memory_usage()

80000080

In [29]:
categories.memory_usage()

10000272

转换为分类不是没有代价的，但这是一次性的代价：

In [30]:
%time _ = labels.astype('category')

CPU times: user 516 ms, sys: 64 ms, total: 580 ms
Wall time: 579 ms

GroupBy使用分类操作明显更快，是因为底层的算法使用整数编码数组，而不是字符串数组。

## 分类方法
包含分类数据的Series有一些特殊的方法，类似于Series.str字符串方法。它还提供了方便的分类和编码的使用方法。看下面的Series：

In [31]:
s = pd.Series(['a', 'b', 'c', 'd'] * 2)
cat_s = s.astype('category')
cat_s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): [a, b, c, d]

特别的cat属性提供了分类方法的入口：

In [32]:
cat_s.cat.codes

0    0
1    1
2    2
3    3
4    0
5    1
6    2
7    3
dtype: int8

In [33]:
cat_s.cat.categories

Index(['a', 'b', 'c', 'd'], dtype='object')

假设我们知道这个数据的实际分类集，超出了数据中的四个值。我们可以使用set_categories方法改变它们：

In [34]:
actual_categories = ['a', 'b', 'c', 'd', 'e']
cat_s2 = cat_s.cat.set_categories(actual_categories)
cat_s2

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (5, object): [a, b, c, d, e]

虽然数据看起来没变，新的分类将反映在它们的操作中。例如，如果有的话，value_counts表示分类：

In [35]:
cat_s.value_counts()

d    2
c    2
b    2
a    2
dtype: int64

In [36]:
cat_s2.value_counts()

d    2
c    2
b    2
a    2
e    0
dtype: int64

  在大数据集中，分类经常作为节省内存和高性能的便捷工具。过滤完大DataFrame或Series之后，许多分类可能不会出现在数据中。我们可以使用remove_unused_categories方法删除没看到的分类

In [37]:
cat_s3 = cat_s[cat_s.isin(['a', 'b'])]
cat_s3

0    a
1    b
4    a
5    b
dtype: category
Categories (4, object): [a, b, c, d]

In [38]:
cat_s3.cat.remove_unused_categories()

0    a
1    b
4    a
5    b
dtype: category
Categories (2, object): [a, b]

![](https://upload-images.jianshu.io/upload_images/7178691-6c602152c2bba658.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/800/format/webp)

## 为建模创建虚拟变量
当你使用统计或机器学习工具时，通常会将分类数据转换为虚拟变量，也称为one-hot编码。这包括创建一个不同类别的列的DataFrame；这些列包含给定分类的1s，其它为0。

看前面的例子：

In [39]:
cat_s = pd.Series(['a', 'b', 'c', 'd'] * 2, dtype='category')

前面的第7章提到过，pandas.get_dummies函数可以转换这个分类数据为包含虚拟变量的DataFrame：

In [40]:
pd.get_dummies(cat_s)

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1
4  1  0  0  0
5  0  1  0  0
6  0  0  1  0
7  0  0  0  1

# GroupBy高级应用
尽管我们在第10章已经深度学习了Series和DataFrame的Groupby方法，还有一些方法也是很有用的。

## 分组转换和“解封”GroupBy
在第10章，我们在分组操作中学习了apply方法，进行转换。还有另一个transform方法，它与apply很像，但是对使用的函数有一定限制：

它可以产生向分组形状广播标量值
它可以产生一个和输入组形状相同的对象
它不能修改输入

来看一个简单的例子：

In [42]:
df = pd.DataFrame({'key': ['a', 'b', 'c'] * 4,'value': np.arange(12.)})
df

   key  value
0    a    0.0
1    b    1.0
2    c    2.0
3    a    3.0
4    b    4.0
5    c    5.0
6    a    6.0
7    b    7.0
8    c    8.0
9    a    9.0
10   b   10.0
11   c   11.0

In [43]:
g = df.groupby('key').value
g.mean()

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

假设我们想产生一个和df['value']形状相同的Series，但值替换为按键分组的平均值。我们可以传递函数lambda x: x.mean()进行转换：

In [44]:
g.transform(lambda x: x.mean())

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

对于内置的聚合函数，我们可以传递一个字符串假名作为GroupBy的agg方法：

In [45]:
g.transform('mean')

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

与apply类似，transform的函数会返回Series，但是结果必须与输入大小相同。举个例子，我们可以用lambda函数将每个分组乘以2：

In [46]:
g.transform(lambda x: x * 2)

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
11    22.0
Name: value, dtype: float64

再举一个复杂的例子，我们可以计算每个分组的降序排名：

In [47]:
g.transform(lambda x: x.rank(ascending=False))

0     4.0
1     4.0
2     4.0
3     3.0
4     3.0
5     3.0
6     2.0
7     2.0
8     2.0
9     1.0
10    1.0
11    1.0
Name: value, dtype: float64

In [48]:
def normalize(x):
    return (x - x.mean()) / x.std()

In [49]:
g.transform(normalize)

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

In [50]:
g.apply(normalize)

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

内置的聚合函数，比如mean或sum，通常比apply函数快，也比transform快。这允许我们进行一个所谓的解封（unwrapped）分组操作：

In [51]:
g.transform('mean')

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

In [52]:
normalized = (df['value'] - g.transform('mean')) / g.transform('std')
normalized

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

解封分组操作可能包括多个分组聚合，但是矢量化操作还是会带来收益。

## 分组的时间重采样
对于时间序列数据，resample方法从语义上是一个基于内在时间的分组操作。下面是一个示例表：

In [53]:
N = 15
times = pd.date_range('2017-05-20 00:00', freq='1min', periods=N)
df = pd.DataFrame({'time': times, 'value': np.arange(N)})

In [54]:
df

                  time  value
0  2017-05-20 00:00:00      0
1  2017-05-20 00:01:00      1
2  2017-05-20 00:02:00      2
3  2017-05-20 00:03:00      3
4  2017-05-20 00:04:00      4
5  2017-05-20 00:05:00      5
6  2017-05-20 00:06:00      6
7  2017-05-20 00:07:00      7
8  2017-05-20 00:08:00      8
9  2017-05-20 00:09:00      9
10 2017-05-20 00:10:00     10
11 2017-05-20 00:11:00     11
12 2017-05-20 00:12:00     12
13 2017-05-20 00:13:00     13
14 2017-05-20 00:14:00     14

这里，我们可以用time作为索引，然后重采样

In [55]:
df.set_index('time').resample('5min').count()

                     value
time
2017-05-20 00:00:00      5
2017-05-20 00:05:00      5
2017-05-20 00:10:00      5

假设DataFrame包含多个时间序列，用一个额外的分组键的列进行标记：

In [56]:
df2 = pd.DataFrame({'time': times.repeat(3),'key': np.tile(['a', 'b', 'c'], N),'value': np.arange(N * 3.)})
df2

                  time key  value
0  2017-05-20 00:00:00   a    0.0
1  2017-05-20 00:00:00   b    1.0
2  2017-05-20 00:00:00   c    2.0
3  2017-05-20 00:01:00   a    3.0
4  2017-05-20 00:01:00   b    4.0
5  2017-05-20 00:01:00   c    5.0
6  2017-05-20 00:02:00   a    6.0
7  2017-05-20 00:02:00   b    7.0
8  2017-05-20 00:02:00   c    8.0
9  2017-05-20 00:03:00   a    9.0
10 2017-05-20 00:03:00   b   10.0
11 2017-05-20 00:03:00   c   11.0
12 2017-05-20 00:04:00   a   12.0
13 2017-05-20 00:04:00   b   13.0
14 2017-05-20 00:04:00   c   14.0
15 2017-05-20 00:05:00   a   15.0
16 2017-05-20 00:05:00   b   16.0
17 2017-05-20 00:05:00   c   17.0
18 2017-05-20 00:06:00   a   18.0
19 2017-05-20 00:06:00   b   19.0
20 2017-05-20 00:06:00   c   20.0
21 2017-05-20 00:07:00   a   21.0
22 2017-05-20 00:07:00   b   22.0
23 2017-05-20 00:07:00   c   23.0
24 2017-05-20 00:08:00   a   24.0
25 2017-05-20 00:08:00   b   25.0
26 2017-05-20 00:08:00   c   26.0
27 2017-05-20 00:09:00   a   27.0
28 2017-05-20 00:09:00   b   28.0
29 2017-05-20 00:09:00   c   29.0
30 2017-05-20 00:10:00   a   30.0
31 2017-05-20 00:10:00   b   31.0
32 2017-05-20 00:10:00   c   32.0
33 2017-05-20 00:11:00   a   33.0
34 2017-05-20 00:11:00   b   34.0
35 2017-05-20 00:11:00   c   35.0
36 2017-05-20 00:12:00   a   36.0
37 2017-05-20 00:12:00   b   37.0
38 2017-05-20 00:12:00   c   38.0
39 2017-05-20 00:13:00   a   39.0
40 2017-05-20 00:13:00   b   40.0
41 2017-05-20 00:13:00   c   41.0
42 2017-05-20 00:14:00   a   42.0
43 2017-05-20 00:14:00   b   43.0
44 2017-05-20 00:14:00   c   44.0

要对每个key值进行相同的重采样，我们引入pandas.TimeGrouper对象：

In [57]:
time_key = pd.TimeGrouper('5min')

/mnt/sdb/lh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

我们然后设定时间索引，用key和time_key分组，然后聚合

In [58]:
resampled = (df2.set_index('time').groupby(['key', time_key]).sum())
resampled

                         value
key time
a   2017-05-20 00:00:00   30.0
    2017-05-20 00:05:00  105.0
    2017-05-20 00:10:00  180.0
b   2017-05-20 00:00:00   35.0
    2017-05-20 00:05:00  110.0
    2017-05-20 00:10:00  185.0
c   2017-05-20 00:00:00   40.0
    2017-05-20 00:05:00  115.0
    2017-05-20 00:10:00  190.0

In [59]:
resampled.reset_index()

  key                time  value
0   a 2017-05-20 00:00:00   30.0
1   a 2017-05-20 00:05:00  105.0
2   a 2017-05-20 00:10:00  180.0
3   b 2017-05-20 00:00:00   35.0
4   b 2017-05-20 00:05:00  110.0
5   b 2017-05-20 00:10:00  185.0
6   c 2017-05-20 00:00:00   40.0
7   c 2017-05-20 00:05:00  115.0
8   c 2017-05-20 00:10:00  190.0

## 链式编程技术
当对数据集进行一系列变换时，你可能发现创建的多个临时变量其实并没有在分析中用到。看下面的例子：

In [60]:
df = load_data()
df2 = df[df['col2'] < 0]
df2['col1_demeaned'] = df2['col1'] - df2['col1'].mean()
result = df2.groupby('key').col1_demeaned.std()

NameError: name 'load_data' is not defined

## 作业1

In [61]:
chipo = pd.read_csv("data/exercise_data/chipotle.tsv", sep = '\t')

In [62]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [63]:
#查看有多少列
chipo.shape[1]

5

In [64]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [65]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [66]:
#被下单最多的商品是什么
c = chipo[['item_name','quantity']].groupby(['item_name'],as_index=False).agg({'quantity':sum})
c.sort_values(['quantity'],ascending=False,inplace=True)
c.head()

              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

In [67]:
#在item_name这一列中，一共有多少种商品被下单？
chipo['item_name'].nunique()

50

In [68]:
#在choice_description中，下单次数最多的商品是什么？
chipo['choice_description'].value_counts().head()

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

In [69]:
#一共有多少商品被下单？
total_items_orders = chipo['quantity'].sum()
total_items_orders

4972

In [70]:
#将item_price转换为浮点数
dollarizer = lambda x: float(x[1:-1])
chipo['item_price'] = chipo['item_price'].apply(dollarizer)

In [71]:
#在该数据集对应的时期内，收入(revenue)是多少
chipo['sub_total'] = round(chipo['item_price'] * chipo['quantity'],2)
chipo['sub_total'].sum()

39237.02

In [72]:
#在该数据集对应的时期内，一共有多少订单？
chipo['order_id'].nunique()

1834

In [73]:
#每一单(order)对应的平均总价是多少？
chipo[['order_id','sub_total']].groupby(by=['order_id']
).agg({'sub_total':'sum'})['sub_total'].mean()

21.394231188658654

In [74]:
#一共有多少种不同的商品被售出？
chipo['item_name'].nunique()

50

## 作业2

In [75]:
euro12 = pd.read_csv("data/exercise_data/Euro2012_stats.csv")

In [76]:
euro12

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [77]:
euro12.Goals

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [78]:
euro12.shape[0]

16

In [79]:
euro12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 35 columns):
Team                          16 non-null object
Goals                         16 non-null int64
Shots on target               16 non-null int64
Shots off target              16 non-null int64
Shooting Accuracy             16 non-null object
% Goals-to-shots              16 non-null object
Total shots (inc. Blocked)    16 non-null int64
Hit Woodwork                  16 non-null int64
Penalty goals                 16 non-null int64
Penalties not scored          16 non-null int64
Headed goals                  16 non-null int64
Passes                        16 non-null int64
Passes completed              16 non-null int64
Passing Accuracy              16 non-null object
Touches                       16 non-null int64
Crosses                       16 non-null int64
Dribbles                      16 non-null int64
Corners Taken                 16 non-null int64
Tackles                       16 non-null int64
Clearances                    16 non-null int64
Interceptions                 16 non-null int64
Clearances off line           15 non-null float64
Clean Sheets                  16 non-null int64
Blocks                        16 non-null int64
Goals conceded                16 non-null int64
Saves made                    16 non-null int64
Saves-to-shots ratio          16 non-null object
Fouls Won                     16 non-null int64
Fouls Conceded                16 non-null int64
Offsides                      16 non-null int64
Yellow Cards                  16 non-null int64
Red Cards                     16 non-null int64
Subs on                       16 non-null int64
Subs off                      16 non-null int64
Players Used                  16 non-null int64
dtypes: float64(1), int64(29), object(5)
memory usage: 4.5+ KB

In [80]:
#将数据集中的列Team, Yellow Cards和Red Cards单独存为一个名叫discipline的数据框
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

In [81]:
#对数据框discipline按照先Red Cards再Yellow Cards进行排序
discipline.sort_values(['Red Cards', 'Yellow Cards'], ascending = False)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

In [82]:
# 计算每个球队拿到的黄牌数的平均值
round(discipline['Yellow Cards'].mean())

7

In [83]:
#找到进球数Goals超过6的球队数据
euro12[euro12.Goals > 6]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

In [84]:
#选取以字母G开头的球队数据
euro12[euro12.Team.str.startswith('G')]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

In [85]:
#选取前7列
euro12.iloc[: , 0:7]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65
5,Germany,10,32,32,47.8%,15.6%,80
6,Greece,5,8,18,30.7%,19.2%,32
7,Italy,6,34,45,43.0%,7.5%,110
8,Netherlands,2,12,36,25.0%,4.1%,60
9,Poland,2,15,23,39.4%,5.2%,48
10,Portugal,6,22,42,34.3%,9.3%,82
11,Republic of Ireland,1,7,12,36.8%,5.2%,28
12,Russia,5,9,31,22.5%,12.5%,59
13,Spain,12,42,33,55.9%,16.0%,100
14,Sweden,5,17,19,47.2%,13.8%,39
15,Ukraine,2,7,26,21.2%,6.0%,38

In [86]:
#选取除了最后3列之外的全部列
euro12.iloc[: , :-3]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,1,7,5,6,54.6%,36,51,5,6,0
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,1,11,6,10,62.6%,63,49,12,4,0
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,1,23,7,13,65.1%,67,48,12,9,1
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,2,18,7,20,74.1%,101,89,16,16,0
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,0,9,5,12,70.6%,35,30,3,5,0
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,0,8,3,6,66.7%,48,56,3,7,1
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,2,11,4,10,71.5%,73,90,10,12,0
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,0,23,9,17,65.4%,43,51,11,6,1
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,0,8,3,10,77.0%,34,43,4,6,0
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,5,8,1,15,93.8%,102,83,19,11,0
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,1,12,5,8,61.6%,35,51,7,7,0
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,0,4,4,13,76.5%,48,31,4,5,0

In [87]:
#找到英格兰(England)、意大利(Italy)和俄罗斯(Russia)的射正率(Shooting Accuracy)
euro12.loc[euro12.Team.isin(['England', 'Italy', 'Russia']), ['Team','Shooting Accuracy']]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

## 作业3

In [88]:
drinks = pd.read_csv("data/exercise_data/drinks.csv")
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [89]:
#哪个大陆(continent)平均消耗的啤酒(beer)更多？
drinks.groupby('continent').beer_servings.mean()

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

In [90]:
#打印出每个大陆(continent)的红酒消耗(wine_servings)的描述性统计值
drinks.groupby('continent').wine_servings.describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [91]:
#打印出每个大陆每种酒类别的消耗平均值
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

In [92]:
#印出每个大陆每种酒类别的消耗中位数
drinks.groupby('continent').median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

In [93]:
#打印出每个大陆对spirit饮品消耗的平均值，最大值和最小值
drinks.groupby('continent').spirit_servings.agg(['mean', 'min', 'max'])

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302